@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #1d4ed8;
  --color-background: #121212;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* This creates a reusable .scrollbar-hide class */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}