@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply font-poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@theme {
  --color-background: #121212;
  --color-accent: #b2faff;
  --color-red: #ff0000;
  --color-green: #00ff00;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 0.8s step-end infinite;
}

@keyframes smoothFloat {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-smooth-float {
  animation: smoothFloat var(--float-duration, 3s) ease-in-out infinite;
  animation-delay: var(--float-delay, 0s);
}


/* sidebar settings */

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }
  .scrollbar-hide {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}